body {
    background-color: #f6e3ce;
}
#titulo {
    color: brown;
    
}

p {
    color: brown;
}

p.carta {
    display: inline-block;
}

.cafe {
    position: relative;
    left: 800px;
}

.contacto {
    position: relative;
    left: 1600px;
}